<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.manage.mapper.ManageRecordIssueRecycleMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.manage.pojo.ManageRecordIssueRecycle">
        <id column="id" property="id"/>
        <result column="document_code" property="documentCode"/>
        <result column="document_name" property="documentName"/>
        <result column="document_version" property="documentVersion"/>
        <result column="pages" property="pages"/>
        <result column="document_type" property="documentType"/>
        <result column="number" property="number"/>
        <result column="depart_lims" property="departLims"/>
        <result column="receive_user" property="receiveUser"/>
        <result column="receiveUserName" property="receiveUserName"/>
        <result column="receive_date" property="receiveDate"/>
        <result column="signed_user" property="signedUser"/>
        <result column="signedUserName" property="signedUserName"/>
        <result column="signed_date" property="signedDate"/>
    </resultMap>

    <select id="pageManageRecordIssueRecycle" resultMap="BaseResultMap">
        select * from (select cmrir.*,
        u1.name receiveUserName,
        u2.name signedUserName
        from cnas_manage_record_issue_recycle cmrir
        left join user u1 on receive_user=u1.id
        left join user u2 on signed_user=u2.id)A
        <if test="ew.customSqlSegment != null and ew.customSqlSegment != ''">
            ${ew.customSqlSegment}
        </if>
    </select>
</mapper>
